body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

header {
    text-align: center;
    padding: 35px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

h1 {
    color: #444;
    font-size: 34px;
}

/* GRID */
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    padding: 50px;
    max-width: 1600px;
    margin: auto;
}

/* CARD */
.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 8px 20px rgba(0,0,0,.06);
}

.card:hover {
    transform: translateY(-8px);
}

/* Deshabilita efectos si está agotado */
.card.deshabilitado {
    cursor: default;
}

.card.deshabilitado:hover {
    transform: none;
    box-shadow: 0 8px 20px rgba(0,0,0,.06);
}

/* IMG (Ajustada a 300px para dar espacio al texto del stock) */
.card img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
}

/* INFO */
.info {
    padding: 20px;
    text-align: center;
}

.info h3 {
    font-size: 20px;
    color: #333;
    margin: 0 0 10px 0;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #666;
    margin: 0 0 10px 0;
}

/* STOCK (Color gris si hay disponibles) */
.stock {
    color: #777;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

/* AGOTADO (Color rojo si es 0) */
.agotado {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .card img {
        height: 220px;
    }
}